<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es">
    <head>
        <title>A&C ACCESORIOS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <!-- Iconos -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
        <!--SweetAlert2-->
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            function Registrar() {
                event.preventDefault();

                const email = document.getElementById("email").value;
                if (email == "") {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                        footer: '<a href="">Why do I have this issue?</a>'
                    });
                } else {
                    Swal.fire({
                        title: 'Ya estás registradx!',
                        text: 'Recibirás nuestras novedades',
                        icon: 'success',
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        timer: 2000
                    })
                    const formulario = document.getElementById("registrar");
                    formulario.submit();


                }
            }

            function Registrar()
            {
                event.preventDefault();

                const nom = document.getElementById("email").value;


                if (nom == "")
                {
                    //Puedes aqui poner una alerta: llene los campos
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                        footer: '<a href="">Why do I have this issue?</a>'
                    });

                } else
                {
                    Swal.fire({
                        title: 'Saved!',
                        text: '',
                        icon: 'success',
                        allowOutsideClick: false,
                        allowEscapeKey: false
                    }).then((result) => {
                        if (result.isConfirmed) {
                            const formulario = document.getElementById("registrar");
                            formulario.submit();
                        }
                    });

                }

            }
        </script>
    </head>
    <body>
        <div th:include="usuario/menuUser.html::header1" th:if="${sesion==null}">  </div>
        <div th:include="usuario/menuUser.html::header-user" th:unless="${sesion==null}">  </div>

        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="A03.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="A22_5G.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="A33_5G.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <br/>
        <br/>
        <div class="container">
            <h1 class="text-center">¿Qué estás buscando?</h1>
            <br/>

            <div class="row row-cols-1 row-cols-md-3 g-4 text-center">
                <div class="col">
                    <div class="card">
                        <br/>
                        <br/>
                        <img src="xr.png" class="card-img-top box" alt="iphone xr">
                        <br/>
                        <div class="card-body">
                            <a class="btn btn-warning stretched-link text-center fs-5" th:href="@{/celulares}" >Celulares</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <img src="case.jpg" class="card-img-top box" alt="cases" href="/">
                        <div class="card-body">
                            <a class="btn btn-warning stretched-link text-center fs-5" th:href="@{/cases}" >Cases</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <img src="reparacion1.jpg" class="card-img-top box" alt="Reparacion Celular">
                        <br/>
                        <br/>
                        <div class="card-body">
                            <a class="btn btn-warning stretched-link text-center fs-5" href="https://api.whatsapp.com/send?phone=51963254253&text=Buenas%20tardes,%20quisiera%20ver%20su%20catálogo." >Servicio Técnico</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br/>
        <br/>
        <br/>
        <br/>

        <div class="container text-center">
            <div class="row">
                <div class="col-sm-1 align-items-center">

                </div>
                <div class="col-sm-4">
                    <img src="mail.jpg" class="card-img-top box" alt="mail">
                </div>
                <div class="col-sm-6">
                    <br/>
                    <br/>
                    <h3><b>¿Quieres ser el primero de enterarte de nuestras ofertas?</b></h3>
                    <br/>
                    <p> Suscríbete con tu dirección de correo electrónico y disfruta de los mejores beneficios y descuentos. </p>

                    <br/>

                    <form th:action="@{/usuario/saveSuscripcion}"  method="post" id="registrar">
                        <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" required>
                        <div class="invalid-feedback">
                            Por favor ingrese una dirección de correo válida para la actualización del envío.
                        </div>
                        <br/>
                        <button onclick="return Registrar()" type="button" class="btn btn-warning">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                            <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"></path>
                            </svg>
                            Suscribirse
                        </button>
                    </form>
                </div>
                <div class="col-sm-1 align-items-center">

                </div>
            </div>
        </div>
        <br/><br/><br/>
        <div th:include="usuario/menuUser.html::footer">  </div>
    </body>
</html>
