<div th:fragment="header">
    <header class="p-4 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a th:href="@{/administrador}" class="d-flex align-items-center mb-2 mb-lg-0 text-warning text-decoration-none">
                    <b><i class="bi bi-android"></i></b>
                    &nbsp;
                    <span class="text-warning"> <b>   A&C Accesorios   </b></span>
                </a>
                &nbsp; &nbsp;&nbsp;&nbsp;
                &nbsp;

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                </ul>

                <div class="dropdown text-end">
                    <a href="#" class="d-block text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        ADMIN
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small">
                        <li><a class="dropdown-item" th:href="@{/administrador/usuarios}">Usuarios</a></li>
                        <li><a class="dropdown-item" th:href="@{/categoria}">Categorías</a></li>
                        <li><a class="dropdown-item" th:href="@{/productos}">Productos</a></li>
                        <li><a class="dropdown-item" th:href="@{/administrador/ordenes}">Ordenes</a></li>
                        <li><a class="dropdown-item" th:href="@{/administrador/reporte}">Reporte</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/usuario/cerrar}">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>

<div th:fragment="footer">
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">© 2022 A&C Accesorios</p>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
        </ul>
        <!-- /.container -->
    </footer>
</div>